<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="UTF-8">
      <title>Insert title here</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="index.css">
      <link rel="stylesheet" href="login.css">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
<header class="header"  style="  background-color: white;">
 
<nav class="navigation">
  <div id="menuToggle">
  
    <input type="checkbox" />
    
    <span></span>
    <span></span>
    <span></span>
    
	    <ul id="menu">
	      <a href="/"><li>Home</li></a>
	      <a href="/productpage?linkValue=softtoys"><li>Soft toys</li></a>
	      <a href="/productpage?linkValue=homeFurnishing"><li>Home Furnishing</li></a>
	      <a href="/productpage?linkValue=decorativeItems" ><li>Decorative Items</li></a>
	      
	      <li><a href="/aboutus" class="hamnav" >About Us</a></li>
      	  <li><a href="mailto:workwebsite2000@gmail.com" class="hamnav">Contact</a></li>
   		
	    
	      
	    </ul>
  </div>
  
</nav>
   

  <img class="logo" src="images/logo.jpeg" onclick='refreshPage()' alt="Lomaa">
      
      <ul class="main-nav">
      
      	<a href="/aboutus" class="hover-underline-animation">About Us</a>
      	<a href="mailto:workwebsite2000@gmail.com" class="hover-underline-animation">Contact</a>
   		<a href="#"  onclick='openForm()' id="myElement" class="hover-underline-animation" ></a>
        
         
         <div class="dropdown">
         	<div class="dropbtn" id="name" style="display: none;" ></div>
            <br><div class="dropdown-content">
             <center>
                  <!--          <a href="/cart">Orders</a>  --> 
                  <br><a href="/updateProfile">Profile</a><br><br>
                  <a href="/logout"  id="logout" onclick='clearLocalStorage()' style="display: none; color: red" >Logout</a>
              <br><br>
               </center>
            </div>	
		 </div>
		 <a href="/cart" class="fa" style="font-size:25px">&#xf07a;</a>
      </ul>
   </header>

<body>
<div class="pagetitle" >Who We Are</div>
<div class="acontent">
	Welcome to Lomaa, your one-stop destination for all things soft, stylish, and decorative! We are an innovative ecommerce platform dedicated to providing a delightful shopping experience for soft toys, home furnishing items, and decorative pieces. At Lomaa, we believe that every home deserves to be filled with comfort, charm, and personality.
	</br></br>
	</div>
	<div class="acombo"><div class="acontent" style="width:50%;"><div class="asubtitle">Our Story</div></br>
	Lomaa was born out of a passion for creating warm and inviting spaces that reflect individuality and bring joy to people's lives. We understand the power of well-chosen soft toys, home furnishings, and decorative items in transforming a house into a home. With this vision in mind, we set out to curate a collection of high-quality products that combine aesthetics, functionality, and affordability.
	<br></div>
	<div class="acontent" style="width:50%;"><img style="height:50vh;" alt="aboutus" src="/images/aboutus1.jpg"></div>
	</div>
	<div class="acontent"><div class="asubtitle">Our Product Range</div></br>
	Discover an extensive range of soft toys that will delight both children and the young at heart. From adorable plush animals to cuddly companions, our collection of soft toys brings comfort and joy to any setting. Whether you're looking for a perfect gift or a cozy addition to your own space, we have just the right companion for you.
	</br>
	In addition to our delightful soft toys, we offer a diverse selection of home furnishing items that will elevate your living spaces. From luxurious cushions and throws to stylish curtains and rugs, our home furnishing collection combines comfort with contemporary design, allowing you to create a harmonious ambiance that suits your personal taste.
	</br>
	If you're looking to add a touch of charm to your surroundings, our decorative items are sure to captivate your imagination. Explore our carefully curated range of decorative pieces, including vases, sculptures, wall art, and more, to infuse your home with character and style. Our products are thoughtfully selected to complement various interior styles, making it easy for you to find the perfect statement pieces.
	</div>
	<div class="acontent"><div class="asubtitle">Quality and Customer Satisfaction</div></br>
	We prioritize quality and customer satisfaction above all else. Each product available on Lomaa undergoes a rigorous selection process to ensure that it meets our high standards of craftsmanship, durability, and design. We work closely with trusted manufacturers and artisans who share our commitment to excellence, resulting in products that are built to last and bring happiness for years to come.
	</br>
	Our customer-centric approach means that your shopping experience is our top priority. We strive to provide a seamless and secure online platform, where you can browse, select, and purchase your favorite items with ease. Our dedicated customer support team is always ready to assist you with any queries or concerns, ensuring that you have a positive and satisfying interaction with Lomaa.
	</br></div>
	<div class="acontent">Thank you for choosing Lomaa as your go-to destination for soft toys, home furnishing items, and decorative pieces. We are excited to embark on this journey with you and help you transform your spaces into warm, beautiful, and welcoming havens. Happy shopping!</div>


<script th:inline="javascript">

      var name = [[${name}]];
      if(name=="null"){
      	var link = document.getElementById("myElement");
      	link.innerHTML = "";
      }

      else {
        	console.log(name); 
        	var link = document.getElementById("name");
        	link.innerHTML = name;
      	document.getElementById("myElement").style.display = "none";
      	document.querySelector(".dropbtn").style.display = "block";
      	document.getElementById("name").style.display = "inline";
      	document.getElementById("name").style.fontWeight = "bold";
      	document.getElementById("name").style.textTransform = "capitalize";
      	document.getElementById("logout").style.display = "inline";

      }
      
      
      function refreshPage() {
    	  window.location.href = "http://localhost:8080/";
    	  
    	}
      </script>




</body>
<div class="footer" style="background-color: black;">
   <div class="footer_items">
   <div class="footer__nav">
       <div class="footer__item">
         <h2 class="nav__title" style="margin-left:0px;">Categories <br></h2>
   
         <ul class="nav__ul">
           <li>
             <a href="/productpage?linkValue=softtoys">Soft Toys</a>
           </li>
   
           <li>
            <a href="/productpage?linkValue=homeFurnishing">Home Furnishing</a>
           </li>
               
           <li>
             <a href="/productpage?linkValue=decorativeItems" >Decorative Items</a>
           </li>
         </ul>
       </div>
       
     </div>
   
   <hr style="border: 1px solid #ACABAB; height:80px; margin: auto;" />
     <div class="footer__addr">
       <h2 style=" margin-left:23px;"class="nav__title">Contact</h2>
       <address>
         &#128241; 011-987-234-234<br>
         &#127757; 5534 Somewhere In. The World 22193-10212 <br>
    
         <a class="footer__btn" href="mailto:workwebsite2000@gmail.com">Email Us</a>
       </address>
     </div>
     
   <hr style="border: 1px solid #ACABAB; height:80px; margin: auto;" />
     <div class="footer_payment"> 
         <h2 class="nav__title" style="margin-left:20px;">Payment methods</h2>
         <br>
         <img class="footer_img" src="images/visa.png"  alt="visa">
         <img class="footer_img" src="images/mastercard.jpg"  alt="visa">
      </div>  
   
   </div>
   <hr style="border: 1px solid #7B7B7B; margin: auto;" />
   <div class="legal">
       <p>Developer: Mahima Bora</p>
       
       <div class="legal__links">
         <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
       </div>
     </div>
   </div>
   
   
   
   </html>   