<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category</title>
</head>
<body>
CATEGORY


<center>

<form action="/productpage">
<input type="image" src="images/homefurnishing.jpg" alt="Submit" width="10%" height="30%">

  Home Furnishing
</form>

</center>

<!-- This is a comment in HTML
<form action="/productpage">
  <button type="submit" style="background-image: url('images/homefurnishing.jpg'); width: 10%; height: 30%;">
    Home Furnishing
  </button>
</form>
 -->


</body>
</html>
